/* ENTIRE APP STYLING */
.App {
  text-align: center;
}
/* LOGIN SPECIFIC STYLING HERE */
.App {
 background: gray;
}

.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.Auth-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

.nav-banner{
  background-color: #51789d;
  color :rgb(243, 248, 250);
}

.nav-text{
  color :rgb(243, 248, 250)
}

.nav-text:hover{
  color : rgb(172, 24, 24)
}
/* # book Card styling */

.books-card-info{
  display: flex;
  flex-direction: row;
  margin: 5px;
  padding: 2px;
}

   .search-form{
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .AutoFocus form-control{
    width: 40%;
    border:none;
    padding: 10px;
    border-radius: 5px;
   }

   .BookListItem-main-card {
    width: 425px;
    height:750x;
    justify-content:center; 
    align-items:center;
    text-align:center;
    background-color:beige;
    color:rgb(86, 12, 12)
  }
  
  .BookListItem-img {
    padding-top: 30px;
    height: auto;
    max-height: 200px;
    width: auto;
    max-width: 200px;
 
  }
  /* .BookListItem-img {
    padding-top:10px;
    height: 200px;
    width: 150px;
  } */
  .SearchListItem-main-card {
    width:300px;
    height:350px;
    justify-content:center; 
    align-items:center;
    text-align:center;
    background-color:beige;
    color:rgb(86, 12, 12)
  }
  
  .SearchListItem-img {
    padding-top: 20px;
    height: auto;
    max-height: 200px;
    width: auto;
    max-width:200px;
 
  }
  .review-title{
    min-height: 10vh;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .review-page{
    padding-left: 35px;
    padding-top: 20px;
    background-color:rgb(235, 225, 194);
  }

  .review-button{
    padding-left: 0px;
    padding-bottom: 10px;

  }

  .chat{
    color: rgb(9, 16, 18);
    background-color:rgb(235, 225, 194);
    border-radius: 10px;
    outline : none;
  }

  .chat-button{
    background-color:rgb(235, 225, 194);
    border : rgb(235, 225, 194);
  }

  .hr-edit{
    padding: 0px;
    margin: 1px;
  }

  .review-text{
    font-size: 20px;
  }

  .button {
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 20px;
  }
  .paragraph{
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .search-button{
    background: #4caf50;
    border: 5px solid white;
    border-radius: 8px;
    padding: 10px 20px;
    color: white;
    margin: 0 0 0 10px;
    }
    .wrapper{
      background-color: rgb(175, 224, 230);
      background-image: linear-gradient(to right, 
        #e4afcb 0%, #b8cbb8 0%, #b8cbb8 0%, 
        #e2c58b 30%, #c2ce9c 64%, #7edbdc 100%);
    }
  .Home-title{
    color:rgb(86, 12, 12)
  }